@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=M+PLUS+1p&display=swap');


body {
	font-family: 16px 'Bebas Neue','M PLUS 1p', sans-serif;
	margin: 0;
	padding: 0;
	background-color: #333333;
}

a,a:hover {
	text-decoration: none;
	color: #333333;
}

/******************** Left Part ********************/
/***************************************************/
.wrapper_left {
	width: 250px;
	height: 100vh;
	float: left;
	position: fixed;
	background-color: #f5f5f5;
}

header {
	width: 100%;
	height: 100%;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}

/************* Logo *************/
/********************************/
.logo img {
	width: 200px;
	margin: 40px 25px 40px 25px;
}

/********** Navigation **********/
/********************************/
.navigation {
	font-family: 'Bebas Neue';
	font-size: 30px;
	text-align: left;
}

.navigation li {
	height: 50px;
	list-style-type: none;
}

.navigation li a {
	position: relative;
	display: block;
	line-height: 50px;
	padding-left: 25px;
	transition: all 0.2s;
}

.navigation a.current,
.navigation li a:hover {
	color: #f5f5f5;
	background-color: #333333;
	letter-spacing: 5px;
}

.navigation a.current::after,
.navigation li a:hover::after {
	content: '';
	width: 10px;
	height: 10px;
	position: absolute;
	right: 10px;
	top: 20px;
	background-color: #f5f5f5;
	animation: rotate 2s linear infinite;
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

/************* Share ************/
/********************************/
.share {
	width: 200px;
	margin-left: 25px;
	margin-top: 40px;
}

.share ul {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.share li {
	float: left;
	list-style-type: none;
}

.share li a {
	display: block;
	transition: all 0.3s;
}

.share li a:hover {
	transform: translateY(-10px);
}

.share i {
	font-size: 35px;
}

/******************** Right Part *******************/
/***************************************************/
.wrapper_right {
	margin-left: 250px;
	width: calc(100% -250px);
	height: auto;
	background-image: repeating-linear-gradient(45deg, rgba(51, 51, 51, 0.4) 0%, rgba(51, 51, 51, 0.4) 3%, rgba(245, 245, 245, 0.4) 3%, rgba(245, 245, 245, 0.4) 6%), repeating-linear-gradient(135deg, rgba(51, 51, 51, 0.4) 0%, rgba(51, 51, 51, 0.4) 3%, rgba(245, 245, 245, 0.4) 3%, rgba(245, 245, 245, 0.4) 6%);
	background-color: black;
	background-attachment: fixed;
}

/************** Top *************/
/********************************/
.top {
	text-align: right;
	height: 30px;
	background-color: rgba(255, 255, 255, 0.6);
}

.top h2 {
	font-size: 16px;
	font-weight: 400;
	line-height: 30px;
	margin-right: 10px;
}

/************* Main *************/
/********************************/
.main {
	width: 1080px;
	margin: 30px auto 50px;
}

.title {
	margin: 0 auto;
	width: 50%;
	border: 5px solid rgba(255, 255, 255, 1);
	background-color: rgba(255, 255, 255, .75);
}

.title h1 {
	font-family: 'Bebas Neue';
	font-size: 40px;
	text-align: center;
	padding: 10px;
	letter-spacing: 0.1em;
}

.article {
	margin-top: 30px;
	background-color: rgba(255, 255, 255, .6);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

/************ Footer ************/
/********************************/
.footer {
	height: 50px;
	margin-top: 30px;
	text-align: right;
	background-color: rgba(0, 0, 0, 0.4);
}

.footer small {
	font-size: 12px;
}

.copyrght {
	padding-top: 25px;
	margin-right: 10px;
	color: white;
}

/*******************************************************************/

/*********** 1.index ************/
/********************************/
.toppage {
	width: 980px;
	height: auto;
}

#keyvisual {
	height: 600px;
}

section {
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
}

section div {
	width: 450px;
	height: 500px;
	border-radius: 5px;
	background-color: #f5f5f5;
}

.pickup {
	box-sizing: border-box;
	border: 5px solid #333333;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.pickup h3 {
	width: 200px;
	position: relative;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	line-height: 60px;
	border-bottom: 1px dashed #333333;
}

.pickup h3::before {
	content: '';
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #333333;
	position: absolute;
	top: 10px;
	left: -110px;
}

.pickup h3::after {
	content: '';
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #333333;
	position: absolute;
	top: 10px;
	right: -110px;
}

.pickup ul {
	width: 400px;
	height: 400px;
	overflow-y: scroll;
	margin-top: 20px;
}

.pickup ul li {
	margin-bottom: 20px;
	padding-bottom: 10px;
	border-bottom: 1px dashed #333333;
	transition: all 0.3s;
}

.pickup ul li:hover {
	opacity: 0.7;
}

.pickup ul li span {
	width: 120px;
	height: 30px;
	margin-bottom: 10px;
	display: block;
	text-align: center;
	line-height: 30px;
	color: #f5f5f5;
	background-color: #333333;
}

.pickup ul li p {
	line-height: 1.5rem;
	text-align: justify;
}

/************ 2.news ************/
/********************************/
.news h2 {
	text-align: center;
}

.news .box {
	width: 980px;
	margin: 0 50px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 3px dashed #333333;
}

.news_title {
	padding: 0 20px 30px 20px;
	border-left: 10px solid #333333;
}

.news_title .btn {
	float: right;
	padding: 2px 5px;
	border: 2px solid #333333;
	border-radius: 5px;
}

.news_title .btn:hover {
	color: #f5f5f5;
	background-color: rgba(0, 0, 0, 0.3);
}

.news_area {
	margin-top: 10px;
	padding-top: 20px;
	border-top: 1px dotted #333333;
}

.news_area a {
	text-decoration: underline;
}

.news_area a:hover {
	color: #f5f5f5;
}

.news_area img {
	max-width: 200px;
}

/********** 3.biography *********/
/********************************/

#bio_img img {
	width: 980px;
	margin-top: 50px;
	margin-bottom: 30px;
	margin-left: calc((100% - 980px)/2);
}

#word {
	padding-bottom: 50px;
	margin: 0 calc((100% - 980px)/2);
}

#word p {
	margin-top: 10px;
}

/******** 4.discography *********/
/********************************/
.disco {
	margin-left: 50px;
	margin-top: 10px;
}

.disco ul,
.disco li {
	list-style-type: none;
	float: left;
	display: block;
}

.disco li {
	margin-right: 20px;
	margin-top: 20px;
}

.disco img {
	max-height: 218px;
	margin: 0 auto;
	display: block;
}

.disco table {
	color: white;
	border: 5px solid #333333;
	background-color: rgba(0, 0, 0, 0.5);
}

.disco th {
	background-color: rgba(255, 255, 255, .8);
}

.disco .CD_detail {
	border-top: 2px dashed #333333;
}

.disco td p {
	width: 280px;
	margin-left: 10px;
	margin-top: 10px;
}

.disco .btn {
	float: right;
}

.disco .btn p {
	width: auto;
	margin-right: 5px;
}

.disco .btn:hover {
	color: #f5f5f5;
}

.CD_area p {
	margin-bottom: 10px;
}

.CD_sub {
	margin-left: 20px;
}

.CD_sub h3 {
	font-size: 20px;
	margin-top: 0;
	padding-top: 0;
}

/************ 5.live ************/
/********************************/
.live_detail {
	width: 980px;
	margin: 0 50px;
	padding: 20px 0;
}

.live a:hover {
	color: #f5f5f5;
}

.live a {
	text-decoration: underline;
	color: #333333;
}

.live ul {
	margin-left: 50px;
	list-style-type: none;
}

.live li {
	display: block;
	float: left;
	padding: 0;
	margin-right: 30px;
}

.live_hall {
	margin-top: 20px;
	display: block;
}

.live_hall th {
	text-align: center;
}

.live_hall th,
.live_hall td {
	color: white;
	background-color: rgba(0, 0, 0, 0.5);
}

.live_hall td {
	padding: 10px;
}

.live_hall th.table_top {
	font-size: 20px;
	color: #333333;
	background-color: rgba(255, 255, 255, 0.6);
	border: 3px solid #333333;
}

.live_hall a {
	color: white;
}

.live_hall a:hover {
	color: #dcdcdc;
}

/************ 6.movie ***********/
/********************************/
.video {
	width: 980px;
	padding: 50px 0 30px 0;
	margin-left: 50px;
}

.video ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.video li {
	margin-bottom: 20px;
	list-style-type: none;
	display: block;
}

.video iframe {
	display: block;
}

/*********** 7.special **********/
/********************************/
.banner {
	padding-bottom: 35px;
	overflow: hidden;
}

.banner h2 {
	padding: 10px;
	color: white;
	background-color: #333333;
	border-left: 5px solid white;
}

.banner_img li {
	float: left;
	list-style-type: none;
	padding-left: calc((100% - 960px)/5);
	margin-top: 35px;
	padding-bottom: 0;
}

.banner_img img,
.banner_img a {
	display: block;
	border-radius: 10px;
}